body {
    background-color: grey;
}

#container {
    display: grid;
    width: 960px;
    height: 960px;
    margin: auto;
    justify-content: center;
}

/* Deals with spaces between lines when the grid elements are too small */
#container div {
    line-height: 0;
}

button {
    text-align: center;
    margin-bottom: 50px;
}

.grid-item {
    border: 1px solid #ddd;
}
